<p>content-list works!</p>

<app-content-list *ngFor="let item of (myContentList | sortByType1 )" [content]="item" [class.is-first]="isFirst"></app-content-list>
<div [style.border]="is-first ? '2px black' : '1px black" [style.background-color]="blue">
    <h1>{{item.title}}</h1>
    <p (click)="onClick(item)">{{item.image}}</p>
    <p>{{item.description}}</p>
    <p>{{item.creator}}</p>
    <p>{{item.type}}</p>
    <p>{{item.tags}}</p>
    <div *ngIf='item.imgURL'>
        <img src="noMovie.png" alt="no movie">
    </div>
</div>
</app-content-card>

<app-content-list *ngFor="let item of (myContentList | sortByType2 )" [content]="item" [class.is-first]="isFirst"></app-content-list>
<div [style.border]="is-first ? '2px black' : '1px black" [style.background-color]="green">
    <h1>{{item.title}}</h1>
    <p (click)="onClick(item)">{{item.image}}</p>
    <p>{{item.description}}</p>
    <p>{{item.creator}}</p>
    <p>{{item.type}}</p>
    <p>{{item.tags}}</p>
    <div *ngIf='item.imgURL'>
        <img src="noMovie.png" alt="no movie">
    </div>
</div>
</app-content-card>

<app-content-list *ngFor="let item of (myContentList | sortByNoType )" [content]="item" [class.is-first]="isFirst"></app-content-list>
<div [style.border]="is-first ? '2px black' : '1px black" [style.background-color]="red">
    <h1>{{item.title}}</h1>
    <p (click)="onClick(item)">{{item.image}}</p>
    <p>{{item.description}}</p>
    <p>{{item.creator}}</p>
    <p>{{item.type}}</p>
    <p>{{item.tags}}</p>
    <div *ngIf='item.imgURL'>
        <img src="noMovie.png" alt="no movie">
    </div>
</div>
</app-content-card>

<app-add-content (newBandEvent)="addBandToList($event)">
</app-add-content>


