<label for="title">Title:</label><br>
  <input type="text" id="title" name="title"><br>

  <label for="description">description:</label><br>
  <input type="text" id="description" name="fdescription"><br>

  <label for="creator">creator:</label><br>
  <input type="text" id="creator" name="creator"><br>

  <label for="type">type:</label><br>
  <input type="text" id="type" name="type"><br>

  <label for="tags">tags:</label><br>
  <input type="text" id="tags" name="tags"><br>

  <input type="submit" value="Add Content">